### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ide
.idea/

/docs
/config
/data
/testscripts
dist/
certs/
main
*.patch
jsontracer*.json
.DS_Store
keystore
*.ps1
